{% include base_path %}
<footer class="jarvis-footer">
  <span>Daniel OS / v0.2</span>
  <div class="jarvis-footer__links">
    <a href="{{ base_path }}/files/resume/daniel_choi_resume_clean.pdf">Resume PDF</a>
    <a href="{{ base_path }}/publications/">Publications</a>
    <a href="{{ base_path }}/year-archive/">Field Notes</a>
    <a href="https://www.linkedin.com/in/daniel-choi-86648216b/" target="_blank" rel="noopener">LinkedIn</a>
    <a href="mailto:danielsejong55@gmail.com">Email</a>
  </div>
  <a href="{{ base_path }}/posts/daniel-os-lfm2/">How Daniel OS works</a>
</footer>
